<?xml version="1.0"?>
<config>
    <modules>
        <Kerss_Tweets>
            <version>1.0.0</version>
        </Kerss_Tweets>
    </modules>
    <frontend>
        <layout>
            <updates>
                <tweets>
                    <file>tweets.xml</file>
                </tweets>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <tweets>
                <class>Kerss_Tweets_Model</class>
            </tweets>
        </models>
        <blocks>
            <tweets>
                <class>Kerss_Tweets_Block</class>
            </tweets>
        </blocks>
        <helpers>
            <tweets>
                <class>Kerss_Tweets_Helper</class>
            </tweets>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <tweets>
                                            <title>Latest Twitter Tweets</title>
                                        </tweets>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <tweets>
            <twittersettings>
                <active>0</active>
                <twitterid></twitterid>
            </twittersettings>
            <displaysettings>
                <enablejq>0</enablejq>
                <block_title>Latest Tweets</block_title>
                <block_theme>light</block_theme>
                <show_name>1</show_name>
                <show_image>1</show_image>
                <circular_image>1</circular_image>
                <showintents>1</showintents>
                <numberoftweets>3</numberoftweets>
                <showlinks>1</showlinks>
                <usenofollow>1</usenofollow>
                <opennew>1</opennew>
                <attags>1</attags>
                <hashtags>1</hashtags>
                <showfollow>1</showfollow>
            </displaysettings>
        </tweets>
    </default>
</config>
